body {
  margin: 0;
  font-family: system-ui, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  box-sizing: border-box;
}

#logo {
  width: 100px;
  margin: 1rem auto;
}

.centered {
  margin: 1rem auto;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

footer {
  margin-top: auto;
  font-size: 0.875rem;
  color: #666;
}

fluent-button.start::part(control) {
  background-color: green;
  color: white;
  /* border: none; */
}

fluent-button.stop::part(control) {
  background-color: red;
  fillColor: red;
  color: white;
  /* border: none; */
}

fluent-button.turn::part(control) {
  background-color: #0084ff;
  fillColor: red;
  color: white;
  /* border: none; */
}


fluent-button::part(control) {
  font-weight: bold;
}

fluent-button img {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  vertical-align: middle;
  filter: invert(1);
}

}